In [2]:
import pandas as pd

In [3]:
def load_json(file):
    with open(file, 'rb') as f:
        data = f.readlines()

    # remove the trailing "\n" from each line
    data = map(lambda x: x.rstrip(), data)

    # each element of 'data' is an individual JSON object.
    # i want to convert it into an *array* of JSON objects
    # which, in and of itself, is one large JSON object
    # basically... add square brackets to the beginning
    # and end, and have all the individual business JSON objects
    # separated by a comma
    data_json_str = "[" + ','.join(data) + "]"

    # now, load it into pandas
    data_df = pd.read_json(data_json_str)
    return data_df

In [4]:
df_business = load_json('yelp_academic_dataset_business.json')

In [5]:
df_business.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state,type
0,"227 E Baseline Rd, Ste J2","[BikeParking: True, BusinessAcceptsBitcoin: Fa...",0DI8Dt2PJp07XkVvIElIcQ,"[Tobacco Shops, Nightlife, Vape Shops, Shopping]",Tempe,"[Monday 11:0-21:0, Tuesday 11:0-21:0, Wednesda...",0,33.378214,-111.936102,Innovative Vapors,,85283,17,4.5,AZ,business
1,495 S Grand Central Pkwy,"[BusinessAcceptsBitcoin: False, BusinessAccept...",LTlCaCGZE14GuaUXUGbamg,"[Caterers, Grocery, Food, Event Planning & Ser...",Las Vegas,"[Monday 0:0-0:0, Tuesday 0:0-0:0, Wednesday 0:...",1,36.192284,-115.159272,Cut and Taste,,89106,9,5.0,NV,business
2,979 Bloor Street W,"[Alcohol: none, Ambience: {'romantic': False, ...",EDqCEAGXVGCH4FJXgqtjqg,"[Restaurants, Pizza, Chicken Wings, Italian]",Toronto,"[Monday 11:0-2:0, Tuesday 11:0-2:0, Wednesday ...",1,43.661054,-79.429089,Pizza Pizza,Dufferin Grove,M6H 1L5,7,2.5,ON,business
3,7014 Steubenville Pike,"[AcceptsInsurance: False, BusinessAcceptsCredi...",cnGIivYRLxpF7tBVR_JwWA,"[Hair Removal, Beauty & Spas, Blow Dry/Out Ser...",Oakdale,"[Tuesday 10:0-21:0, Wednesday 10:0-21:0, Thurs...",1,40.444544,-80.174540,Plush Salon and Spa,,15071,4,4.0,PA,business
4,321 Jarvis Street,"[BusinessAcceptsCreditCards: True, Restaurants...",cdk-qqJ71q6P7TJTww_DSA,"[Hotels & Travel, Event Planning & Services, H...",Toronto,None,1,43.659829,-79.375401,Comfort Inn,Downtown Core,M5B 2C2,8,3.0,ON,business

In [6]:
df_checkin = load_json('yelp_academic_dataset_checkin.json')
df_checkin.head()

,business_id,time,type
0,7KPBkxAOEtb3QeIL9PEErg,"[Fri-0:2, Sat-0:1, Sun-0:1, Wed-0:2, Sat-1:2, ...",checkin
1,kREVIrSBbtqBhIYkTccQUg,"[Mon-13:1, Thu-13:1, Sat-16:1, Wed-17:1, Sun-1...",checkin
2,tJRDll5yqpZwehenzE2cSg,"[Thu-0:1, Mon-1:1, Mon-12:1, Sat-16:1]",checkin
3,nhZ1HGWD8lMErdn3FuWuTQ,"[Fri-0:1, Sat-0:1, Sun-0:1, Thu-0:1, Wed-0:1, ...",checkin
4,8bY6M2yiWOF2ilfmGS34Fw,"[Sat-11:1, Fri-13:1, Thu-14:1]",checkin

In [7]:
df_tip = load_json('yelp_academic_dataset_tip.json')
df_tip.head()

,business_id,date,likes,text,type,user_id
0,tJRDll5yqpZwehenzE2cSg,2012-07-15,0,Get here early enough to have dinner.,tip,zcTZk7OG8ovAmh_fenH21g
1,jH19V2I9fIslnNhDzPmdkA,2015-08-12,0,Great breakfast large portions and friendly wa...,tip,ZcLKXikTHYOnYt5VYRO5sg
2,dAa0hB2yrnHzVmsCkN4YvQ,2014-06-20,0,Nice place. Great staff. A fixture in the tow...,tip,oaYhjqBbh18ZhU0bpyzSuw
3,dAa0hB2yrnHzVmsCkN4YvQ,2016-10-12,0,Happy hour 5-7 Monday - Friday,tip,ulQ8Nyj7jCUR8M83SUMoRQ
4,SqW3igh1_Png336VIb5DUA,2016-07-03,0,Come early on Sunday's to avoid the rush,tip,ulQ8Nyj7jCUR8M83SUMoRQ

In [8]:
df_user = load_json('yelp_academic_dataset_user.json')
df_user.head()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,elite,fans,friends,funny,name,review_count,type,useful,user_id,yelping_since
0,3.59,4192,79,4192,3904,19,305,4705,1347,2617,...,"[2017, 2015, 2016, 2014, 2011, 2013, 2012]",298,"[iJg9ekPzF9lkMuvjKYX6uA, ctWAuzS04Xu0lke2Rop4l...",12316,Rob,761,user,18456,EZmocAborM6z66rTzeZxzQ,2009-09-12
1,4.29,144,11,144,64,1,4,97,24,129,...,[None],34,"[r2UUCzGxqI6WPsiWPgqG2A, qewG3X2O4X6JKskxyyqFw...",28,Vivian,80,user,117,myql3o3x22_ygECb8gVo7A,2009-06-27
2,4.15,36,1,36,14,2,10,21,4,23,...,"[2011, 2016, 2017, 2013, 2014, 2015, 2012]",48,"[qewG3X2O4X6JKskxyyqFwQ, -50XWnmQGqBgEI-9ANvLl...",6,Carol,841,user,58,FIk4lQQu1eTe2EpzQ4xhBA,2010-08-26
3,3.82,54,6,54,32,0,5,13,1,29,...,"[2014, 2010, 2017, 2015, 2011, 2016, 2013, 201...",28,"[AIhfuFmX62k7a22gXXAB2Q, kQ1jU2rDpFD_q54edEmwI...",51,Miss Maggie,376,user,42,ojovtd9c8GIeDiB8e0mq2w,2008-05-31
4,2.97,0,0,0,0,0,0,0,0,0,...,[None],2,"[bvZkBCY-AvCsxRjd6Q-vEQ, KNEVNYeyNZApXG6HqOdsR...",3,Jeremy,28,user,8,uVEoZmmL9yK0NMgadLL0CQ,2013-01-17

In [16]:
df_review = load_json('yelp_academic_dataset_review.json')

In [11]:
df_user.to_csv('user1.csv', sep=',', encoding='utf-8')

In [12]:
df_business.to_csv('business.csv', sep=',', encoding='utf-8')

In [13]:
df_tip.to_csv('tip.csv', sep=',', encoding='utf-8')

In [15]:
df_checkin.to_csv('checkin.csv', sep=',', encoding='utf-8')

In [17]:
df_review.to_csv('review.csv', sep=',', encoding='utf-8')